body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 23%, 16%);
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;

    max-width: 544px;
    
    border-radius: 15px;
    background-color: hsl(217, 19%, 24%);

    font-family: 'Manrope', sans-serif;
    position: relative;
}

main h1{
    font-size: 15px;
    color: hsl(150, 100%, 66%);
    letter-spacing: 5px;
    margin-top: 50px;
}

#advice-text{
    font-size: 28px;
    color: hsl(193, 38%, 86%);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 800;
}

#pattern-divider-desktop{
    display: flex;
}

#pattern-divider-mobile{
    display: none;
}

main>img{
    margin-bottom: 72px;
}

#dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 72px;
    height: 72px;

    position: absolute;
    bottom: -36px;

}

#dice-container:hover{
    box-shadow: 0 0 36px 0 hsl(150, 100%, 66%);
    cursor: pointer;
}

@media screen and (max-width: 600px){
    body{
        justify-content: start;
    }
    main{
        max-width: 345px;
        margin-top: 25%;
    }

    #advice-text{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #pattern-divider-desktop{
        display: none;
    }
    
    #pattern-divider-mobile{
        display: flex;
    }
}